<% content_for :title do %>About Canty Shanty<% end %>

<% content_for :content do %>
	<article class="info">
		<h2>What is Canty Shanty?</h2>
		<p>I started collecting images from blogs I read when I bought my house. I was using them as inspiration for 
			my home improvement projects. After 3 years I had more than 1500 images and I couldn't find anything in 
			a useful way. I created Canty Shanty primarily for myself as a way to catalog and describe all the images 
			over time.</p>
	</article>
	
	<article class="info">
		<h2>Who owns these images?</h2>
		<p>I don't know who owns most of the images on this site. I make some effort to record where they came from and 
			give a little link love to the sites that I got them from. If you are the owner of any of the images on Canty 
			Shanty, feel free to contact me. I'll add a link to your site or take the image down if you would like.</p>
	</article>

	<article class="info">
		<h2>Who are you?</h2>
		<p>I'm Tim Crowe, a rabble-rousing web developer, a lover of cooking, the Phillies and giant dogs. I live outside 
			of Philadelphia. For more information about me <a href="http://timmyfury.com/">visit my homepage</a></p>
	</article>

	<article class="info">
		<h2>Can I contact you?</h2>
		<p>Feel free. I have a twitter account for <a href="http://twitter.com/timmyfury">myself</a> and 
			<a href="http://twitter.com/cantyshanty">Canty Shanty</a>. You can also <a href="mailto:tim.crowe@timmyfury.com">
			email me</a></p>
	</article>
<% end %>