<div class="entry">
	<h2><%= @post.title %></h2>
	<ul><% @post.tags.each do |tag| %><li><a href="<%= tag_url(:slug => tag.name) %>"><%= tag %></a></li><% end %></ul>
	<%= image_tag @post.image.url(:large) %>
</div>

