<div class="entry">
	<h2><%= @title %></h2>

	<% @posts.each do |post| %>
		<div class="image">
			<a href="<%= short_url(:slug => post.slug) %>"><%= image_tag post.image.url(:medium) %></a>
		</div>
	<% end %>
</div>

<div id="footer">
	<%= will_paginate @posts %>
	<p class="copyright">&copy; Images are copyright of their respective owners. I just don't know who they are.</p>
</div>
