<div class="entry image-cloud">
	<h2><%= @status.capitalize %></h2>
	<% @posts.each do |post| %>
		<div class="image">
			<%= link_to image_tag(post.image.url(:medium)), post %>
		</div>
	<% end %>
</div>


<div id="footer">
	<% if @status != 'random' %>
		<%= will_paginate @posts %>
	<% end %>
</div>
