<div class="entry">
	<h2><%= @status.capitalize %></h2>
	<% @posts.each do |post| %>
		<div style="width:400px;height:400px; float: left; padding: 10px; text-align:center">
			<%= link_to image_tag(post.image.url(:medium)), post %>
		</div>
	<% end %>
</div>


<div id="pagination">
	<%= will_paginate @posts %>
</div>
