<% content_for :content do %>
	<article class="info">
		<% if @status == 'search' and @q and @q != '' -%>
    	    <h2>Search results <%= page_entries_info @posts %> for <strong><%= @q %></strong></h2>
    	<% else -%>
    	    <h2><%= @status.capitalize -%></h2>
    	<% end -%>
	</article>

	<% if @posts %>
    	<% @posts.each do |post| %>
    		<%= render :partial => "layouts/post", :locals => { :post => post, :format => :large, :links => 'admin' } %>
    	<% end %>
	<% end %>
	
<% end %>
