/*
	Navigation
**********************************************************************/
nav.secondary {
	background: #eee;
	border-top: 20px solid #ccc;
	color: #999;
	font-size: 30px;
	margin: 0 0 20px;
	padding: 10px;
}
nav.secondary ul {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 1200px;
}
nav.secondary li {
	display: block;
	float: left;
	list-style-type: none;
	margin: 10px;
	padding: 0;
}
nav.secondary li a {
	display: block;
	margin: 0;
	padding: 12px 14px;
	color: #000;
}
nav.secondary li a span,
nav.secondary li a em {
	display: block;
}
nav.secondary li.active a {
	background: #900;
	color: #FFF;
}
nav.secondary .search {
	display: block;
	margin: 0 auto;
	width: 1200px;
}
nav.secondary .search input {
	border: 1px solid #ccc;
	border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	display: block;
	font-size: 20px;
	font-weight: 200;
	margin: 10px;
	padding: 5px;
	position: relative;
	text-align: center;
	width: 1166px;
}
nav.secondary ul li.show-more-options {
	display: none;
}


/*
	Clearfix
**********************************************************************/
nav.secondary:after,
nav.secondary ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/*
	Media Queries
**********************************************************************/
@media screen and (max-width: 480px) {
	nav.secondary {
		font-size: 14px;
		margin: 0 0 10px;
		padding: 0;
	}
	nav.secondary ul {
		padding: 7px;
		width: 480px;
	}
	nav.secondary li {
		margin: 3px;
	}
	nav.secondary li a {
		padding: 12px 8px;
		width: 132px;
	}
	nav.secondary .search {
		width: 480px;
	}
	nav.secondary .search input {
		font-size: 14px;
		margin: 3px 10px 10px;
		width: 448px;
	}
}

@media screen and (max-width: 320px) {
	nav.secondary {
		font-size: 14px;
		margin: 0 0 10px;
		padding: 0;
	}
	nav.secondary ul {
		padding: 7px;
		width: 320px;
	}
	nav.secondary li {
		margin: 3px;
	}
	nav.secondary li a {
		padding: 12px 8px;
		width: 81px;
	}
	nav.secondary .search {
		width: 320px;
	}
	nav.secondary .search input {
		font-size: 14px;
		margin: 3px 10px 10px;
		width: 288px;
	}
}

